<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controllers.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DishController</servlet-name>
        <servlet-class>controllers.DishesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DishDetailsController</servlet-name>
        <servlet-class>controllers.DishDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartsController</servlet-name>
        <servlet-class>controllers.CartsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartInfoController</servlet-name>
        <servlet-class>controllers.CartInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartContactController</servlet-name>
        <servlet-class>controllers.CartContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersController</servlet-name>
        <servlet-class>controllers.OrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderController</servlet-name>
        <servlet-class>controllers.ManageOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>controllers.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackController</servlet-name>
        <servlet-class>controllers.AddFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <servlet-class>controllers.DeleteFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagementController</servlet-name>
        <servlet-class>controllers.ManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserController</servlet-name>
        <servlet-class>controllers.ManageUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDishController</servlet-name>
        <servlet-class>controllers.ManageDishController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTableController</servlet-name>
        <servlet-class>controllers.ManageTableController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DishController</servlet-name>
        <url-pattern>/dishes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DishDetailsController</servlet-name>
        <url-pattern>/dish-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartsController</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartInfoController</servlet-name>
        <url-pattern>/cartinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartContactController</servlet-name>
        <url-pattern>/cartcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersController</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderController</servlet-name>
        <url-pattern>/manageorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/order-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackController</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackController</servlet-name>
        <url-pattern>/delete-feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagementController</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/manage-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDishController</servlet-name>
        <url-pattern>/manage-dish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTableController</servlet-name>
        <url-pattern>/manage-table</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            dishes
        </welcome-file>
    </welcome-file-list>
</web-app>
